.navbar {
  background: #c7d0d8;
}

#home {
  background-color: #f5f5f5;
  padding-top: 10rem;
}
#home img {
  border-radius: 50%;
}

#about img {
  max-width: 350px;
  max-height: 350px;
  /* border-radius: 10  %; */
}

section {
  padding-top: 6rem;
}

#product {
  background-color: #f5f5f5;
}

#contact .badge {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
